/* external css file */

/* element selector */
h1 {
    color: blue;
    text-align: center;
    background-color:   brown;
}

body{
    background-image: url("photo_2025-11-09_10-56-10.jpg");
    background-color: lightgrey;
}

/* id selector */

#header{
    background-color: rgb(173, 173, 33);
    color: salmon;
}

/* class selector */

.text-gold{
    color: gold;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

table, td, th{
    border: 1px solid black;
    border-collapse: collapse;
    border-color: cornflowerblue;
    border-radius: 45%;
}

#myDiv{
    background-color: wheat;
    color: whitesmoke;
    /* width: 250px;
    height: 250px; */
    /* max-width: 200px;
    max-height: 200px;

    min-width: 100px;
    min-height: 100px; */

    /* vh and vw */
    /* height and width are 100% of parent height and width */
    width: 100%;    
    height: 100%;

    /* height and width are 50% of screen height and width */
    height: 50vh;
    width: 50vw;

    /* margin: 50px; */
}

#myLink{
color: green;
text-decoration-line: underline;
text-decoration-style: wavy;
}

#myLink:hover{
    color: red;
    text-decoration: underline;
}

#myLink:active{
    color: blue;
    text-decoration: overline;
}

#myLink:visited{
    color: purple;
    text-decoration: line-through;
}

#myTable tr:hover{
background-color: lightblue;
color: yellowgreen;}

#myTable td:hover{
background-color: red;
color: purple;}


#myTable th:hover{
background-color: yellow;
color: plum;}
